name: app_management
description: Track daily Android app usage with category-based time limits and notifications.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  provider: ^6.1.2
  sqflite: ^2.3.2
  path: ^1.9.0
  flutter_local_notifications: ^17.2.4
  workmanager: ^0.5.2
  shared_preferences: ^2.3.4
  fl_chart: ^0.69.2
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
